*{
  padding: 0%;
  margin: 0%;
}
body{
  background-color: rgb(227, 217, 205);
  color: black;
  
}
nav{
  height: 50px;
  width: auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  
  background-color: rgb(138, 180, 185);
  
.logo,.desktop-list{
  margin-top: 13px;
}
.logo{
  cursor:default;
  text-decoration: none;
}

}
.desktop-list{
  display: flex;

  justify-content: space-evenly;
}
ul{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  
}
li{
  margin-left: 10px;
}
a{
  text-decoration: none;
  
}
a:hover
{
  color: black;
  transition: o.5s;
  text-underline-offset: line;
}