*{
  padding: 0%;
  margin: 0%;
}
body{
  background-color: rgb(227, 217, 205);
  color: black;
  
}
nav{
  height: 70px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 1.5rem;
  position: fixed;
  margin-top: -60px;
  background-color: rgb(138, 180, 185);
  
.logo,.desktop-list{
  margin-top: 19px;
}
.logo{
  cursor:default;
  text-decoration: none;
}

}
.desktop-list{
  display: flex;

  justify-content: space-evenly;
}
ul{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  
}
li{
  margin-left: 10px;
}
a{
  text-decoration: none;
  
}
a:hover
{
  color: rgb(255, 220, 220);
  transition: o.5s;
  text-underline-offset: line;
}
.intro{
 height: 650px;
    width: auto;
    text-align: center;
    margin-left: 310px;
    margin-top: 60px;
}
.kamal{
  display: flex;
  text-align:left;
  
}
.kamalphoto{
 height: 400px;
 width: 300px;
 padding-left: 30px;
}
.aboutkamal{
        height: 311px;
    width: 311px;
    padding-left: 45px;
    margin-left: 126px;
    margin-top: 135px;
    font-size: 1.5rem;
}
img{

height: 530px;
width: auto;
border-radius: 50px;
border-color: blue;
margin-left: 30px;
margin-top: 20px;
}
.education{
  height: 250px;
  background-color: rgb(39, 36, 36);
  color: white;
  font-size: medium;
  border-radius: 20px;
  padding: 20px;
  
}
.edu{
  margin-left: -80px;
  display: flex;
  justify-content: space-evenly;
}
.experiecnce{
  text-align: center;
  width: 400px;
  height: 200px;
  border: solid grey;
  border-radius: 40px;
}
.high-eductaion{
  text-align: center;
  width: 400px;
  height: 200px;
  border: solid grey;
  border-radius: 40px;
  
}



.project{
  height: 600px;

}
.project1{
display: flexbox;
text-align: center;
justify-content: space-between;
}


/* about wala section first mai ko */
.submit{
  height: 50px;
  width: 80px;
  background-color: blueviolet;
  color: white;
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
  margin-left:90px;

}
/* About Page ko lagi code */


.aboutwala{
  width: 100%;
  border-radius: 10px;
  background-color: rgb(98, 125, 125);
  height: 300px;
  
  display: flex;
  padding-top: 2%;
  padding-bottom: 60px;

}
.right-about{
  height: 250px;
 background-color: rgb(97, 215, 241);
    border-radius: 25%;
    padding: 4%;
    color: rgb(73, 35, 35);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:200px;
    margin-right: 200px;
    padding-bottom: 5px;
}
.Team{
  height: 400px;
  margin-top: 2%;

}












footer{
  background-color: #ccc;
  height: 200px;
  width: auto;
  padding-left: -71p;
  background-color: rgb(138, 180, 185);
  border-radius: 60px;
  padding: 19px;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(138, 180, 185);
  color: #ccc;
  text-align: center;
 
  font-family: Arial, sans-serif;
  background: transparent;
  z-index: 1;
  
   
}